@import url("fonts.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.wrapper {
	width: 100%;
	max-width: 500px;
	padding: 20px;
	margin: auto;
}

.container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	box-shadow: 10px 10px 30px rgba(0, 0, 1, 0.7);
}

form {
	display: flex;
	flex-direction: column;
}

h2 {
	text-align: center;
	font-family: raleway-d;
	color: #333333;
	font-weight: normal;
	padding-bottom: 25px;
}

.form_group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

label {
	color: #333333;
	width: 20%;
	font-family: raleway-c;
	text-align: left;
}

input {
	width: 70%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	transition: border-color 0.3s;
}

input:hover {
	border-color: #bc0000;
}

button {
	padding: 8px 10px;
	background-color: #bc0000;
	color: white;
	border: 1px solid #bc0000;
	cursor: pointer;
	font-family: raleway-c;
	font-size: 15px;
	transition: background-color 0.3s ease;
	margin-top: 10px;
	width: 100%;
	margin-bottom: 10px;
}

button:hover {
	background-color: white;
	color: #bc0000;
	border: 1px solid #bc0000;
}

.table_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

table {
	width: 100%;
	max-width: 2000px;
	min-width: 1200px;
	border-collapse: collapse;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	display: none;
}

table, th, td {
	border: 1px solid #ccc;
}

th, td {
	padding: 12px;
	text-align: center;
	font-size: 16px;
	font-family: raleway-c;
}

th {
	background-color: #f2f2f2;
}


.data-wrapper {
	overflow-x: auto;
	width: 100%;
}

td {
	padding: 0;
}

td input {
	border: none;
	background: none;
	font-size: 16px;
	width: 100%;
	padding: 12px;
}

td input:focus {
	outline: none;
}

@media (max-width: 1200px) {
	.table_container {
			width: 100%;
	}

	table {
			max-width: 100%;
			min-width: 800px;
	}
}

@media (max-width: 768px) {
	.wrapper {
			max-width: 100%;
			padding: 0;
	}

	.container {
			padding: 15px;
			width: 100%;
			margin-top: 10px;
	}

	h2 {
			font-size: 1.5rem;
	}

	input {
			font-size: 14px;
			padding: 8px;
	}

	button {
			font-size: 14px;
			padding: 8px;
	}

	.form_group {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 10px;
	}

	label, input {
			width: 100%;
			margin-bottom: 10px;
	}

	.table_container {
			padding: 0 10px;
	}

	table {
			width: 100%;
			display: none;
			overflow-x: auto;
			max-width: none;
			min-width: unset;
	}

	table, thead, tbody, th, td, tr {
			display: block;
	}

	th, td {
			text-align: left;
			display: flex;
			justify-content: space-between;
			padding: 10px;
	}

	tr {
			margin-bottom: 10px;
			border-bottom: 1px solid #ccc;
	}

	th {
			background-color: #f2f2f2;
	}

	td input {
			text-align: left;
	}

	.back_button {
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
	}
}
